<html>
<h1>WELCOME User</h1>
<h3>Create Course</h3>

<form (ngSubmit)="onSubmit(Instform)" #Instform ="ngForm">
  <label for="C_Name">Course Name:</label>
  <input type="text" id="C_Name" name="C_Name"><br><br>


  <label for="category">Choose a Category:</label>
  <select id="category" name="category">
  <option value="development">Development</option>
  <option value="marketing">Marketing</option>
  <option value="cooking">Cooking</option>
  <option value="accountingFinance">Accounting and Finance</option>
  <option value="teaching">Teaching and Academics</option>

  </select>

  <br><br>
  <input type="submit" value="Submit">
</form>


</html>